In [4]:
import pandas as pd
from scipy import sparse
from sklearn.metrics.pairwise import cosine_similarity
ratings=pd.read_csv("dataset/toy_dataset.csv",index_col=0)

In [5]:
ratings.fillna(0, inplace=True)
ratings

        action1  action2  action3  romantic1  romantic2  romantic3
user 1      4.0      5.0      3.0        0.0        2.0        1.0
user 2      5.0      3.0      3.0        2.0        2.0        0.0
user 3      1.0      0.0      0.0        4.0        5.0        4.0
user 4      0.0      2.0      1.0        4.0        0.0        3.0
user 5      1.0      0.0      2.0        3.0        3.0        4.0
NaN         0.0      0.0      0.0        0.0        0.0        0.0
NaN         0.0      0.0      0.0        0.0        0.0        0.0
NaN         0.0      0.0      0.0        0.0        0.0        0.0
NaN         0.0      0.0      0.0        0.0        0.0        0.0
NaN         0.0      0.0      0.0        0.0        0.0        0.0
NaN         0.0      0.0      0.0        0.0        0.0        0.0
NaN         0.0      0.0      0.0        0.0        0.0        0.0
NaN         0.0      0.0      0.0        0.0        0.0        0.0
NaN         0.0      0.0      0.0        0.0        0.0        0.0
NaN         0.0      0.0      0.0        0.0        0.0        0.0
NaN         0.0      0.0      0.0        0.0        0.0        0.0
NaN         0.0      0.0      0.0        0.0        0.0        0.0
NaN         0.0      0.0      0.0        0.0        0.0        0.0
NaN         0.0      0.0      0.0        0.0        0.0        0.0
NaN         0.0      0.0      0.0        0.0        0.0        0.0
NaN         0.0      0.0      0.0        0.0        0.0        0.0
NaN         0.0      0.0      0.0        0.0        0.0        0.0
NaN         0.0      0.0      0.0        0.0        0.0        0.0
NaN         0.0      0.0      0.0        0.0        0.0        0.0
NaN         0.0      0.0      0.0        0.0        0.0        0.0
NaN         0.0      0.0      0.0        0.0        0.0        0.0
NaN         0.0      0.0      0.0        0.0        0.0        0.0
NaN         0.0      0.0      0.0        0.0        0.0        0.0

In [6]:
def standardization(row):
    new = (row - row.mean())/(row.max()-row.min())
    return new

df_std = ratings.apply(standardization).T
print(df_std)

sparse_df = sparse.csr_matrix(df_std.values)
corrMatrix = pd.DataFrame(cosine_similarity(sparse_df),index=ratings.columns,columns=ratings.columns)
corrMatrix

             user 1    user 2    user 3    user 4    user 5       NaN  \
action1    0.721429  0.921429  0.121429 -0.078571  0.121429 -0.078571
action2    0.928571  0.528571 -0.071429  0.328571 -0.071429 -0.071429
action3    0.892857  0.892857 -0.107143  0.226190  0.559524 -0.107143
romantic1 -0.116071  0.383929  0.883929  0.883929  0.633929 -0.116071
romantic2  0.314286  0.314286  0.914286 -0.085714  0.514286 -0.085714
romantic3  0.142857 -0.107143  0.892857  0.642857  0.892857 -0.107143

                NaN       NaN       NaN       NaN  ...       NaN       NaN  \
action1   -0.078571 -0.078571 -0.078571 -0.078571  ... -0.078571 -0.078571
action2   -0.071429 -0.071429 -0.071429 -0.071429  ... -0.071429 -0.071429
action3   -0.107143 -0.107143 -0.107143 -0.107143  ... -0.107143 -0.107143
romantic1 -0.116071 -0.116071 -0.116071 -0.116071  ... -0.116071 -0.116071
romantic2 -0.085714 -0.085714 -0.085714 -0.085714  ... -0.085714 -0.085714
romantic3 -0.107143 -0.107143 -0.107143 -0.107143  ... -0.107143 -0.107143

                NaN       NaN       NaN       NaN       NaN       NaN  \
action1   -0.078571 -0.078571 -0.078571 -0.078571 -0.078571 -0.078571
action2   -0.071429 -0.071429 -0.071429 -0.071429 -0.071429 -0.071429
action3   -0.107143 -0.107143 -0.107143 -0.107143 -0.107143 -0.107143
romantic1 -0.116071 -0.116071 -0.116071 -0.116071 -0.116071 -0.116071
romantic2 -0.085714 -0.085714 -0.085714 -0.085714 -0.085714 -0.085714
romantic3 -0.107143 -0.107143 -0.107143 -0.107143 -0.107143 -0.107143

                NaN       NaN
action1   -0.078571 -0.078571
action2   -0.071429 -0.071429
action3   -0.107143 -0.107143
romantic1 -0.116071 -0.116071
romantic2 -0.085714 -0.085714
romantic3 -0.107143 -0.107143

[6 rows x 28 columns]

            action1   action2   action3  romantic1  romantic2  romantic3
action1    1.000000  0.851464  0.913106   0.306350   0.563757   0.192964
action2    0.851464  1.000000  0.866020   0.255476   0.328848   0.188486
action3    0.913106  0.866020  1.000000   0.422339   0.519519   0.372584
romantic1  0.306350  0.255476  0.422339   1.000000   0.723784   0.908500
romantic2  0.563757  0.328848  0.519519   0.723784   1.000000   0.782946
romantic3  0.192964  0.188486  0.372584   0.908500   0.782946   1.000000

In [7]:
corrMatrix = ratings.corr(method='pearson')
corrMatrix.head(6)

            action1   action2   action3  romantic1  romantic2  romantic3
action1    1.000000  0.851464  0.913106   0.306350   0.563757   0.192964
action2    0.851464  1.000000  0.866020   0.255476   0.328848   0.188486
action3    0.913106  0.866020  1.000000   0.422339   0.519519   0.372584
romantic1  0.306350  0.255476  0.422339   1.000000   0.723784   0.908500
romantic2  0.563757  0.328848  0.519519   0.723784   1.000000   0.782946
romantic3  0.192964  0.188486  0.372584   0.908500   0.782946   1.000000

In [8]:
def similar(movie_name,rating):
    similar_sc = corrMatrix[movie_name]*(rating-2.5)
    similar_sc = similar_sc.sort_values(ascending=False)
    return similar_sc

In [10]:
action = [("action1",5),("romantic2",1),("romantic3",1)]
similar_sc = pd.DataFrame()
for movie,rating in action:
    similar_sc= similar_sc.append(similar(movie,rating),ignore_index = True)

similar_sc.head(10)

    action1   action2   action3  romantic1  romantic2  romantic3
0  2.500000  2.128661  2.282765   0.765875   1.409393   0.482410
1 -0.845636 -0.493272 -0.779278  -1.085676  -1.500000  -1.174419
2 -0.289446 -0.282729 -0.558876  -1.362750  -1.174419  -1.500000

In [11]:
similar_sc.sum().sort_values(ascending=False)

action1      1.364918
action2      1.352660
action3      0.944610
romantic2   -1.265025
romantic1   -1.682551
romantic3   -2.192009
dtype: float64